<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HTTP API" >

    <test name="Tests for Edit Issue">

        <groups>
            <run>
                <include name="HTTP"/>
                <exclude name="SKIP"/>
            </run>
        </groups>

        <classes>
            <class name="RestAPIIssueTests"/>
        </classes>
    </test>

</suite>
