<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HTTP API" parallel="classes" thread-count="3">

    <test name="Tests for Issue CRUD">

        <groups>
            <run>
                <include name="HTTP"/>
                <exclude name="SKIP"/>
            </run>
        </groups>

        <classes>
            <class name="EditIssueTests"/>
        </classes>
    </test>

</suite>
