<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HTTP API">

  <listeners>
    <listener class-name="utils.framework.HTTPTestsListener"/>
  </listeners>

  <test name="JIRA HTTP tests">

    <groups>
      <run>
        <include name="HTTP"/>
        <exclude name="SKIP"/>
      </run>
    </groups>

    <classes>
      <!--<class name="RestAPISearchTests"/>-->
      <class name="RestAPIIssueTests"/>
      <!--<class name="FilterTest"/>-->
    </classes>
  </test>

</suite>
